@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Inter", sans-serif;
}

/* SearchBar.js styling */
.container {
  display: flex;
  justify-content: center;
  background: rgb(93, 93, 209);
  padding: 15px 0;
  height: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  width: 80px;
  height: 31px;
}

.autocomplete {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-height: 273px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 3;
}

.autocomplete-items {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 5px;
  cursor: pointer;
}

.autocomplete-items:hover {
  background: rgb(240, 240, 247);
}

.checkbox {
  margin: 0 30px 10px 10px;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .search-input {
    width: 350px;
  }
  .autocomplete {
    width: 360px;
  }
}

/* End of SearchBar.js Styling */

/* ShowDataItem.js Styling */
.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(255, 255, 0, 0.61);
  min-height: calc(100vh - 100px);
  padding: 7px;
}
.item-container {
  margin: 10px 5px;
  width: 300px;
  background: #fff;
  padding: 5px 10px;
  border-top: 3.5px solid rgb(93, 93, 209);
  box-shadow: rgba(0, 0, 0, 0.26) 0px 5px 15px 0px;
  border-radius: 5px;
  text-align: justify;
  z-index: 2;
}
.item-header {
  display: flex;
  justify-content: space-between;
}
.item-name {
  border-top: 0.5px solid rgba(128, 128, 128, 0.384);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.384);
  padding: 4px 0;
}
.title {
  color: black;
  color: darkgreen;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 4px;
}
/* End of ShowDataItem.js Styling */
