* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Start Heading */
.header-container {
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
  font-weight: bold;
  width: 100%;
  position: fixed;
  background: #fff;
  height: 5.5rem;
  top: 0;
  z-index: 20;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 60px;
  margin: 0 auto;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.heading-section {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  display: none;
}

.headings {
  width: 790px;
  /* margin-top: 30px; */
  display: flex;
  text-align: center;
}

.heading-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.heading-link {
  cursor: pointer;
}

.signin {
  display: flex;
  align-items: center;
}

.signin-btn {
  background: #00baf2;
  padding: 2px 2px 2px 22px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  color: #fff;
  border: 0;
}

.signin-btn:hover {
  background: #002970;
}

.signin-btn span {
  margin-left: 5px;
  display: flex;
}

.signin-btn img {
  width: 100%;
}

/* @media screen and (max-width: 952px) {
  .header {
    height: 320px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .heading-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .heading-link {
    margin: 5px 0;
  }
} */

@media screen and (max-width: 1160px) {
  .header {
    padding: 25px;
  }

  .headings {
    height: fit-content;
    margin: 0 -5px;
    width: 101vw;
    position: absolute;
    top: 5.5rem;
    left: 0;
    display: none;
    background: #fff;
  }

  .nav-icon {
    display: initial;
  }

  .nav-img {
    width: 40px;
    cursor: pointer;
  }

  .heading-link {
    text-align: center;
    width: 100%;
    border-top: 0.01px solid rgba(128, 128, 128, 0.8);
    margin: 0;
    padding: 8px;
  }
}

/* End Heading */

/* Start Notification */
.notification {
  margin-top: 5.55rem;
  text-align: center;
  background-image: linear-gradient(rgba(201, 190, 190, 0.24), white);
}
.notification-desc {
  padding-bottom: 13px;
}
.notification-desc a {
  color: black;
  font-weight: 600;
}
/* End Notification */

/* Start Navigation */

.navigation {
  background: #002970;
}

.navigation-bar {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  min-height: 12.5rem;
  padding: 2.8rem;
  flex-wrap: wrap;
  margin: 0 20px;
}

.navigation-link {
  width: 78px;
}
.navigation-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.navigation-icon img {
  height: 25px;
}

.navigation-link a {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 952px) {
  .navigation-link {
    margin-bottom: 20px;
  }
}

/* To prevent the collision of navigation-bar and form */
@media screen and (min-width: 920px) and (max-width: 1080px) {
  .navigation-bar {
    height: 17rem;
  }
}
/* End Navigation */

/* Start Recharge Form */
.form {
  width: 21.25rem;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #fff;
  position: relative;
  top: -4rem;
  left: 4rem;
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.2);
}

.form-heading {
  margin: 20px auto;
}

.form-radio span,
input {
  margin-right: 10px;
}

.form-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.form-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.form-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  border: none;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}

.form-field input:focus ~ label,
.form-field input:valid ~ label {
  top: -5px;
  font-size: small;
}

.form-field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transform: translateX(-50%);
  transition: 0.25s linear;
}

.form-field input:focus ~ span::before,
.form-field input:valid ~ span::before {
  width: 100%;
}

.error {
  margin-bottom: -15.5px;
  font-size: smaller;
  color: red;
}

.checkbox-div {
  height: 40px;
  display: flex;
  align-items: center;
  /* margin-top: 0px; */
  margin-bottom: 30px;
}

.checkbox-div input {
  height: 100px;
  width: 25px;
}
.checkbox-div label div {
  display: flex;
  align-items: center;
  color: #00baf2;
  font-weight: bold;
}

.checkbox-div label p {
  padding-top: 5px;
}

.subtext {
  font-size: smaller;
  margin-left: 10px;
  color: gray;
}

.recharge-btn {
  width: 100%;
  height: 50px;
  border: none;
  background: #00baf2;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form {
    left: 0;
    margin: 20px auto;
  }
}

/* End Recharge Form */

/* more-items box */
.navigation-more {
  margin-left: 20px;
  max-height: 420px;
  width: 222px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
  background: #fff;
  overflow: scroll;
  position: absolute;
  z-index: 10;
  right: 20px;
}

.more-item {
  border-bottom: 0.01px solid rgba(128, 128, 128, 0.2);
}

.more-item p {
  color: black;
}
.more-item a {
  margin: auto 5px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  text-align: left;
  color: black;
  font-size: 14px;
}
.navigation-more img {
  width: 28px;
  height: fit-content;
  margin-right: 15px;
}

.hidden {
  display: none;
}
/* more-items box */

.operator {
  width: 16.25rem;
  right: 0.1rem;
  border-radius: 0;
  max-height: 210px;
  overflow-x: hidden;
}

.operator-input {
  padding-left: -100px;
}

/* Modal */
.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: fit-content;
  background: rgb(146, 233, 146);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  position: fixed;
}

.modal-head {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.successful {
  width: 50px;
  margin: 30px auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
