* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Start Heading */
.header-container {
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 92px;
  width: 90%;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.heading-section {
  height: 50px;
  display: flex;
  align-items: center;
}

.headings {
  width: 790px;
}

.heading-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.signin {
  display: flex;
  align-items: center;
}

.signin-btn {
  background: #00baf2;
  padding: 2px 2px 2px 22px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  color: #fff;
  border: 0;
}

.signin-btn span {
  margin-left: 5px;
}

.signin-btn img {
  width: 100%;
}

@media screen and (max-width: 952px) {
  .header {
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .heading-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .heading-link {
    margin: 5px 0;
  }
}

/* End Heading */

/* Start Notification */
.notification {
  text-align: center;
}
.notification-desc {
  padding: 15px;
}
.notification-desc a {
  color: black;
  font-weight: 600;
}
/* End Notification */

/* Start Navigation */

.navigation {
  background: #002970;
}

.navigation-bar {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  min-height: 12.5rem;
  padding: 2.8rem;
  flex-wrap: wrap;
  margin: 0 20px;
}

.navigation-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.navigation-icon img {
  height: 25px;
}

.navigation-link a {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 952px) {
  .navigation-link {
    margin-bottom: 20px;
  }
}
/* End Navigation */
