.todo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  min-height: 150px;
}

.todo-item {
  border-top: 3.5px solid rgb(93, 93, 209);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
}

.todo-select {
  padding: 5px 0 5px 10px;
}

.todo-text {
  padding: 0 20px;
  height: 120px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.todo-title {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.384);
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.todo-desc {
  overflow-y: scroll;
  scrollbar-width: none;
}
.todo-desc::-webkit-scrollbar {
  display: none;
}

.todo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 4px 20px;
}

.due-date {
  font-size: small;
}

.edit {
  cursor: pointer;
  font-size: larger;
  padding: 4px;
}
.edit:hover {
  background: rgba(128, 128, 128, 0.13);
  transition: 0.4s;
}
.delete {
  padding: 4px;
  font-size: larger;
  cursor: pointer;
  margin-right: 10px;
}
.delete:hover {
  transition: 0.4s;
  background: rgba(128, 128, 128, 0.13);
}

.red-border {
  border-top: 3.5px solid rgba(255, 0, 0, 0.642);
}
.red-footer {
  background: rgba(255, 0, 0, 0.642);
}

.yellow-border {
  border-top: 3.5px solid rgba(255, 255, 0, 0.642);
}
.yellow-footer {
  background: rgba(255, 255, 0, 0.642);
}

.hidden {
  visibility: hidden;
}
